$black-color: #000;
$white-color: #fff;
$text-white-color: #dde7f3;
$text-input-border-blue-color: #778dbe;
$text-input-border-dark-blue-color: #447bf4;
$black-with-opacity-color: rgba(0, 0, 0, 0.6);
$orange-color: #fda90f;
$pink-orange-color: #fd720f;
$button-grey-border-color: hsla(0,0%,100%,.1)f;


//size
$game-normal-size: 490px;
$game-mobile-size: 350px;

//media
$small-size: 576px;

